.head{background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fnature%2F&psig=AOvVaw1PU4kwCH7ZOu4hAJCjWJ2v&ust=1618116334486000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDV3pzv8u8CFQAAAAAdAAAAABAI");
      height: 60vh;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
}

h1{color:white;
   text-align: center;
   position:relative;
   top:20%;
}


